{% extends "base.html" %}

{% block content %}

<h1>Log into your Blog</h1>
<p>If you do not have an account, you can signup and create your blog 
    <a href="/signup">here</a>.

</p>

<form action="/login" method="POST">
    <table>
        <tr>
            <td>
                <label for="email"> Email</label>
            </td>
            <td>
                <input name="email" type="email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
{% endblock %}