{% extends "base.html" %}


{% block content %}
    
        <div class="upperbar">
            <h1>{{user.username}} Blog</h1>
        
        </div>
   

    {% if posts|length == 0 %}
        <p> No new posts yet</p>
    {% else %}

        <ul>
            {% for post in posts %}
                <div class="post">
                    <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
                    <p>{{ post.body }}</p>
                    <p>
                        "written by" <br/>
                        <a href="/blog?user={{ post.owner_id}}">{{ post.owner.username }}</a>
                    </p>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}